
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498576617799'); /* IE9*/
  src: url('iconfont.eot?t=1498576617799#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498576617799') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498576617799') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498576617799#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before { content: "\e696"; }

.icon-category:before { content: "\e699"; }

.icon-close:before { content: "\e69a"; }

.icon-comments:before { content: "\e69b"; }

.icon-delete:before { content: "\e69d"; }

.icon-edit:before { content: "\e69e"; }

.icon-favorite:before { content: "\e6a0"; }

.icon-information:before { content: "\e6a4"; }

.icon-refresh:before { content: "\e6aa"; }

.icon-search:before { content: "\e6ac"; }

.icon-set:before { content: "\e6ae"; }

.icon-smile:before { content: "\e6af"; }

.icon-viewgallery:before { content: "\e6b4"; }

.icon-warning:before { content: "\e6b6"; }

.icon-account:before { content: "\e6b8"; }

.icon-add:before { content: "\e6b9"; }

.icon-lights:before { content: "\e6de"; }

.icon-filter:before { content: "\e6f1"; }

.icon-pin:before { content: "\e6f2"; }

.icon-link:before { content: "\e6f7"; }

.icon-remind:before { content: "\e713"; }

.icon-complete:before { content: "\e64f"; }

.icon-wancheng:before { content: "\e645"; }

.icon-favorites:before { content: "\e7ce"; }

.icon-complete1:before { content: "\e605"; }

